<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Reminder</title>
  </head>
  <body>
    <h1>Edit Reminder</h1>

    <a href="/users/reminder">Back to Reminder</a>

    <a href="/users/logout">Logout</a>

    <br>
    <br>

    <ul>
        <% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
        <li><%= error.message %></li>
        <% }) %> <% } %>
      </ul>
        <% if (typeof dates != 'undefined') { %> <% dates.forEach(date => { %>
    <form action="/users/edit-reminder/<%= date.remind_id%>" method="POST">
        

        <% var dd = String(date.date.getDate()).padStart(2,'0'); %>
        <% var mm = String(date.date.getMonth()+1).padStart(2,'0'); %>
        <% var yy = date.date.getFullYear(); %>
        <% var day = yy + '-' + mm + '-' + dd; %>
        

        <div>
          <input type="date" id="date" name="date" value="<%= day %>"  required />
        </div>
        <div>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= date.title%>"
            required
          />
        </div>
        <div>
          <input
            type="text"
            id="description"
            name="description"
            value="<%= date.description %>"
            required
          />
        </div>
        <div>
          <% var dd = String(date.remind_date.getDate()).padStart(2,'0'); %>
          <% var mm = String(date.remind_date.getMonth()+1).padStart(2,'0'); %>
          <% var yy = date.remind_date.getFullYear(); %>
          <% var remind_day = yy + '-' + mm + '-' + dd; %>

          <input
            type="date"
            id="remind_date"
            name="remind_date"
            value="<%= remind_day %>"
            required
          />
        </div>

        <div>
            <input
              type="time"
              id="remind_time"
              name="remind_time"
              value="<%= date.remind_time %>"
              required
            />
          </div>

          <% }) %> <% } %>

        <div>
          <input type="submit" value="Submit" />
        </div>
  
        
      </form>



    
  </body>
</html>