<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reminder</title>
  </head>
  <body>
    <h1>Reminder</h1>

    <a href="/users/dashboard">Back to Dashboard</a>

    <a href="/users/logout">Logout</a>

    <br>
    <br>

    <form action="/users/add-reminder">
        <input type="submit" value="Add date" />
    </form>

    <ul>
        <% if(messages.success_msg) { %>
        <li><%= messages.success_msg %></li>
        <% } %>
    </ul>
    
    <table>

        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Description</th>
            <th>Remind time</th>
            <th>Remind date</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        
        <% if (typeof dates != 'undefined') { %> <% dates.forEach(date => { %>
            <tr>
                <td><%= date.title %></td>
                <td><%= date.date.toDateString() %></td>
                <td><%= date.description %></td>
                <td><%= date.remind_time %></td>
                <td><%= date.remind_date.toDateString() %></td>
                <td>
                    <form action="/users/delete-reminder/<%= date.remind_id %>">
                        <input type="submit" value="Delete" />
                    </form>
                </td>
                <td>
                    <form action="/users/edit-reminder/<%= date.remind_id %>">
                        <input type="submit" value="Edit" />
                    </form>
                </td>
            </tr>   
        <% }) %> <% } %>
       
 </table>

    
  </body>
</html>